{% extends 'layout.html' %}

{% block title %}
    lozinka.me
{% endblock %}

{% block body %}
    <div class="section">
        <div class="container">
            <div class="row">
                <h3>Provjerite jačinu lozinke i povećajte nivo svoje sigurnosti</h3>
                <p>Provjerite karakteristike lozinke</p>
                <p>Da li se lozinka nalazi u <b>listi najčešće korištenih lozinki</b>?</p>
                <p>Koliko je vremena potrebno računaru da otkrije lozinku?</p>
                <a href="{{ url_for('home.lozinka') }}" class="button button-primary">Provjeri jačinu lozinke</a>
            </div>
        </div>
    </div>
    <div class="section grey">
        <div class="row">
            <div class="four columns feature">
                <img src="/static/images/icons/git.svg" width="50px" alt="Open source">
                <h5>Open Source</h5>
                <p>Izvorni kod ovog sajta je javno dostupan i svako ga može pregledati.</p>
                <a href="{{ url_for('home.page', link='open-source') }}">Detaljnije <img src="/static/images/icons/external-link.svg" height="15px" alt="Detaljnije"></a>
            </div>

            <div class="four columns feature">
                <img src="/static/images/icons/shield.svg" width="50px" alt="Sigurno">
                <h5>Sigurno</h5>
                <p>Svaka vrsta razmjene informacija između korisnika i sajta je enkriptovana.</p>
                <a href="{{ url_for('home.page', link='sigurnost') }}">Detaljnije <img src="/static/images/icons/external-link.svg" height="15px" alt="Detaljnije"></a>
            </div>
            <div class="four columns feature">
                <img src="{{ config.SITE_URL }}/static/images/icons/anon.svg" width="50px" alt="Anonimno">
                <h5>Anonimno</h5>
                <p>Ovaj sajt ne prikuplja nikakve podatke koji bi mogli da dovedu do identifikacije korisnika.</p>
                <a href="{{ config.SITE_URL }}{{ url_for('home.page', link='privatnost') }}">Detaljnije <img src="/static/images/icons/external-link.svg" height="15px" alt="Detaljnije"></a>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="statistics">
                    <h4>Koliko je lozinki do sada provjereno? </h4>
                    <h4>
                        <span class="num">{{ num_checks }}</span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}