<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="lozinka.me je open source platforma, nastala kao hobi projekat, koja vam omogućava da brzo, anonimno i sigurno provjerite jačinu lozinke.">
  <meta name="author" content="lozinka.me">
  <meta name="keywords" content="lozinka, lozinka.me, sifra, sigurnost, online sigurnost, zastita, hack, password, antivirus, virus, jacina lozinke, jacina sifre">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/skeleton.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/images/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/static/images/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

</head>
<body>
    <div class="row">
         <div class="topnav" id="topnav">
             <div class="container">
                  <a href="{{ url_for('home.home') }}" class="logo_image"><img src="/static/images/logo.png" width="150px" alt="Logo"></a>
                  <a href="{{ url_for('home.home') }} ">Početna</a>
                  <a href="{{ url_for('home.lozinka') }}">Provjeri jačinu lozinke</a>
                  <a href="{{ url_for('home.page', link='sta-je-lozinka-me') }}">Šta je lozinka.me?</a>
                  <a href="javascript:void(0);" class="icon" onclick="navigation()">&#9776;</a>
             </div>
        </div>
    </div>

  {% block body %} {% endblock %}

  <div class="section grey">
    <div class="container">
        <div class="ten columns offset-by-one">
            <div class="six columns">
                <ul class="footer-list">
                    <li><a href="{{ url_for('home.page', link='sta-je-lozinka-me') }}">Šta je lozinka.me?</a></li>
                    <li><a href="{{ url_for('home.page', link='open-source') }}">Open source</a></li>
                </ul>
            </div>
            <div class="six columns">
                <ul class="footer-list">
                    <li><a href="{{ url_for('home.page', link='privatnost') }}">Privatnost</a></li>
                    <li><a href="{{ url_for('home.page', link='sigurnost') }}">Sigurnost</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

  <script>
        function navigation() {
            var x = document.getElementById("topnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
   </script>
</body>
</html>
